<p id="notice"><%= notice %></p>

<% if flash[:notice] %>
    <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Departamento</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @produtos_por_departamento  %>
    </tbody>
</table>

<%= link_to 'Editar Departamento', edit_departamento_path(@departamento), class:"btn btn-default" %> |
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
